body {
  margin: 0px;
  overflow-y: scroll;
}
img {
  cursor: pointer;
}


#myntra-main-container{
  margin-top: 10px;
}

#myntra-main-container img {
  width: 100%;
}

#top-offer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#top-offer-img > img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 100%;
}

/* #top-store {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

#top-store-img > img {
  width: 100%;
}

#omg-deal-banner-img > img {
  margin-top: -4px;
  width: 100%;
}

#omg-deal-products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: -4px;
}

#budget-products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  margin-top: -4px;
}

#top-categories-products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: -4px;
}

#top-categories-products-img > img {
  margin-top: -4px;
}

#top-brand-products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: -4px;
}

#categories-options {
  /* border: 2px solid red; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: -4px;
}
