.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.semibold {
  font-weight: bold;
}

.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}
.mx-2 img {
  width: 30px;
}
